body {
	background-color: #ededef;
}
body,h1 {
	padding: 0;
	margin: 0;
}
a {
	text-decoration:none;
}
.g-hd{
	margin: 0 0 30px;
	width: 100%;
	height: 80px;
	background: #22292e;
}
.g-bd,.g-ft{
	width: 928px;
	margin: auto;
}
.g-bd-l {
	width: 680px;
	float: left;
}
.g-bd-r {
	width: 228px;
	min-height: 50px;
	float: right;
}
.header {
	width: 928px;
	margin: auto;
}
.logo {
	margin-top: 10px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(/img/ksy-logo.png) no-repeat;
	background-size: 200px 60px;
}
.nav {
	margin-top: 25px;
	width: 250px;
	float: left;
}
.nav ul li {
	min-width: 50px;
	display: inline-block;
}
.nav ul li a {
	color: #999;
}
.nav ul li a:hover{color:#fff;}
.search{
	float: right;
}
.search .search-box{
	margin-top: 35px;
	padding-left: 45px; 
	width: 200px;
	height: 25px;
	border-radius: 20px;
	background-color: #000;
}
.search .search-box input{
	height: 24px;
	border: 0;
	outline:none;
	color: #999;
	padding: 0;
	background-color: #000;
}
.list {
	margin-bottom: 20px;
	padding: 10px 30px 30px;
	background-color: #ffffff;
	height: 150px;
	box-shadow: 1px 1px 5px #888888;
}
.list .a-title{
	height: 30px;
	line-height: 30px;
}
.list .a-title a {
	color: #999;
	font-size:20px;
	font-weight:900;
}
.list .a-abs{
	height: 30px;
	line-height: 30px;
}
.list .a-abs .a-logo{
	margin: 0 15px 15px 0; 
	width: 150px;
	height: 90px;
	float: left;
}

.list .a-abs p {
	text-indent: 28px;
	color: #999;
	font-size:14px;
	line-height: 18px;
	display: block;
}
.article{
	margin-bottom: 20px;
	padding: 10px 30px 30px;
	background-color: #ffffff;
	min-height: 150px;
	box-shadow: 1px 1px 5px #888888;
	color: #999;
	line-height: 25px;
}

.article .title{

}
.article .content{
	text-indent: 2em;
	font-size: 14px;
}

.edit-form{
	margin-bottom: 20px;
	padding: 10px 30px 30px;
	background-color: #ffffff;
	min-height: 150px;
	box-shadow: 1px 1px 5px #888888;
	color: #999;
	line-height: 25px;
}