extends ../public/layout
block content
    each item in articles
        .list
            .a-title
                a(href="/article/#{item.id}") #{item.title}
            .a-abs
                .a-logo
                    img.a-logo(src="./img/title_logo.jpg")
                p #{item.abstract}
            .a-opt