extends ../public/layout

block content
	.edit-form
		form
			input(type="hidden",name="id",value="#{article.id}")
			label 标题
			div
				input(type="text",name="title",value="#{article.title}")
			label 内容
			div
				textarea(name="content") #{article.content}
			div
				input(id="atricle-edit",type="button",value="submit")