extends ../public/layout

block content
	.edit-form
		form
			input(type="hidden",value="")
			label 标题
			div
				input(type="text",name="title")
			label 内容
			div
				textarea(name="content")
			div
				input(id="atricle-edit",type="button",value="submit")