extends ../public/layout

block content
	form
		label 标题
		input(type="text",name="article[title]")
		label 来源
		input(type="text",name="article[source]")
		label 内容
		input(type="text",name="article[source]")