section.g-hd
    .header
        .logo
            a(href="/#")
        .nav
            ul
                li
                    a(href="#") 首页
                li
                    a(href="#") 浏览
                li
                    a(href="#") app
        .search
            .search-box
                input(type="text", value="")