doctype html
html
    head
        include ./head
    body
        include ./header
        section.g-bd
            .g-bd-l
                block content
            .g-bd-r
                include ./right
        include ./footer
